Flask
Flask-SQLAlchemy
Flask-JWT-Extended
psycopg2-binary
mysql-connector-python
celery
flower
redis
python-dotenv
requests
opencv-python
Pillow
numpy<2.0.0
scikit-image
onnxruntime
Flask-CORS
mediapipe==0.10.14
pytz
ultralytics==8.4.165
torch==2.0.1
torchvision==0.15.2
tqdm